<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.CommentMapper">

    <insert id="createComment" parameterType="com.example.back.dto.CommentDTO">
        INSERT INTO comment (id, post_id, user_id, body, created_at)
        VALUES (#{id}, #{post_id}, #{user_id}, #{body}, #{created_at})
    </insert>

    <update id="updateComment" parameterType="com.example.back.dto.CommentDTO">
        UPDATE comment SET body = #{body} WHERE id = #{id}
    </update>

    <delete id="deleteComment" parameterType="com.example.back.dto.CommentDTO">
        DELETE FROM comment WHERE id = #{comment_id}
    </delete>
</mapper>