<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.PostMapper">

    <select id="selectPosts" resultType="com.example.back.dto.PostDTO">
        SELECT * FROM post ORDER BY created_at DESC
    </select>

    <select id="selectPostsByUserId" resultType="com.example.back.dto.PostDTO">
        SELECT * FROM post WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>

<!--    <select id="getPostByPostId" resultType="com.example.back.dto.PostDTO">-->
<!--        SELECT * FROM post WHERE id = #{post_id}-->
<!--    </select>-->

    <select id="getCommentsByPostId" resultType="com.example.back.dto.CommentDTO">
        SELECT * FROM comment WHERE post_id = #{post_id}
    </select>


</mapper>
